<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="starter.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="card.css">
    <title>Test</title>
    <style>
        body>*{
            margin: 25px;
        }
    </style>
</head>
<body class="container row">
    <div class="card card-shadow col-4 col-lg-3 col-xl-2 column">
        <img src="media/IMG_E1326.JPG">
        <div class="body-card column column-left">
            <h2>Moustapha Kachab</h2>
            <p>Moustapha est un developpeur fullstack à la GDA. Il utilise souvent sa propre librairie qu'il a developpé en s'inspirant de React et de Bootstrap. En back il utilse php avec Symfony.</p>
            <button class="btn btn-slide-left"><a href="">Contact him</a></button>
        </div>
    </div>

    <div class="card card-shadow card-hover col-4 col-lg-3 col-xl-2 column">
        <img src="media/IMG_E1326.JPG">
        <div class="body-card column">
            <h2>Moustapha Kachab</h2>
            <p>Moustapha est un developpeur fullstack à la GDA. Il utilise souvent sa propre librairie qu'il a developpé en s'inspirant de React et de Bootstrap. En back il utilse php avec Symfony.</p>
            <button class="btn btn-slide-left"><a href="">Contact him</a></button>
        </div>
    </div>

    <div class="card card-shadow card-hover-left col-4 col-lg-3 col-xl-2 column">
        <img src="media/IMG_E1326.JPG">
        <div class="body-card column">
            <h2>Moustapha Kachab</h2>
            <p>Moustapha est un developpeur fullstack à la GDA. Il utilise souvent sa propre librairie qu'il a developpé en s'inspirant de React et de Bootstrap. En back il utilse php avec Symfony.</p>
            <button class="btn btn-slide-left"><a href="">Contact him</a></button>
        </div>
    </div>

    <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
        <img src="media/IMG_0207.JPG">
        <div class="item-info row">
            <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
            <div><button class="btn btn-success btn-shine">Add to card</button></div>
        </div>
    </div>


    <div class="card card-shadow card-icon col-4 col-lg-3 col-xl-2 column">
        <img src="media/IMG_E1326.JPG">
        <div class="body-card column column-bottom">
            <h2>Moustapha Kachab</h2>
            <p>Moustapha est un developpeur fullstack à la GDA. Il utilise souvent sa propre librairie qu'il a developpé en s'inspirant de React et de Bootstrap. En back il utilse php avec Symfony.</p>
            <button class="btn btn-slide-left"><a href="">Contact him</a></button>

        </div>
    </div>

    <div class="card card-shadow card-hover-gradient col-4 col-lg-3 col-xl-2 column">
        <img src="media/IMG_E1326.JPG">
        <div class="body-card column column-bottom">
            <h2>Moustapha Kachab</h2>
            <p>Moustapha est un developpeur fullstack à la GDA. Il utilise souvent sa propre librairie qu'il a developpé en s'inspirant de React et de Bootstrap. En back il utilse php avec Symfony.</p>
        </div>
    </div>



</body>
</html>