<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="starter.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="nav.css">
    <title>Test</title>
    <style>
        body>*{
            margin: 25px;
        }
        body>div>*{
            margin: 25px;
        }
    </style>
</head>
<body class="container column">
    <header class="container row">
        <nav class="container row navbar">
            <a class="nav-logo row" href=""><img width="50" src="media/kewel.png"></a>
            <div class="nav-menu row">
                <a href="" class="nav-item nav-item-active">Home</a>
                <a href="" class="nav-item">Services</a>
                <a href="" class="nav-item">Products</a>
                <a href="" class="nav-item">About us</a>
                <a href="" class="nav-item">Contact</a>
            </div>
        </nav>
    </header>

    <div class="container row">
        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>
        
        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>
    </div>


    <header class="container row">
        <nav class="container column navbar">
            <a class="nav-logo row" href=""><img width="50" src="media/kewel.png"> <h1>Kewel</h1></a>
            <div class="nav-menu row">
                <a href="" class="nav-item nav-item-active">Home</a>
                <a href="" class="nav-item">Services</a>
                <a href="" class="nav-item">Products</a>
                <a href="" class="nav-item">About us</a>
                <a href="" class="nav-item">Contact</a>
            </div>
        </nav>
    </header>

    <div class="container row">
        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>

        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>
        
        <div class="card card-item col-4 col-lg-3 col-xl-2 column">        
            <img src="media/IMG_0207.JPG">
            <div class="item-info row">
                <div><span>Name of article</span> <br> <span>XOF 500</span> </div>
                <div><button class="btn btn-success btn-shine">Add to card</button></div>
            </div>
        </div>
    </div>

    <script src="carousel.js"></script>
    <script src="bucket.js"></script>
    <script src="form.js"></script>
    <script src="modal.js"></script>
    <script src="nav.js"></script>
    <script src="video.js"></script>

</body>
</html>